body {
font-family: 'Roboto', sans-serif;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 0; 
padding: 0;
}

html {
    scroll-behavior: smooth; 
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

* {
    box-sizing: border-box;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }